<launch>
    <master auto="start"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find navigation_slam)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find navigation_slam)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find navigation_slam)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find navigation_slam)/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find navigation_slam)/base_local_planner_params.yaml" command="load" />

        <!-- <param name="controller_frequency" value="10.0" /> -->
        <param name="controller_frequency" value="5.0" />

        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <param name="planner_frequency" value="2.0" />
        <param name="global_costmap/robot_base_frame" value="t265_link" />
        <param name="local_costmap/robot_base_frame" value="t265_link" />
        <param name="local_costmap/global_frame" value="t265_odom_frame" />
        <param name="local_costmap/robot_base_frame" value="t265_link" />
        <param name="local_costmap/rolling_window" value="true" />
        <param name="local_costmap/width" value="4.0" />
        <param name="local_costmap/height" value="4.0" />
        <param name="local_costmap/resolution" value="0.05" />
        <param name="global_costmap/rolling_window" value="false" />
        <param name="global_costmap/map_topic" value="rtabmap/proj_map" />
    </node>
</launch>

